/* AppNavbar.module.scss */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.desktopNav {
  display: none;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
    gap: 1rem;
  }
}
